.organism-soundOptionExplanation-container {
  margin: 24px 0;
  padding: 16px;
  border-radius: 6px;
  border: 2px solid #ffcc12;
  position: relative;
}

.organism-soundOptionExplanation-container
  .organism-soundOptionExplanation-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  justify-content: space-between;
}

.organism-soundOptionExplanation-container
  .molecules-quizOptionButtons-wrapper {
  background-color: #ffffff;
}

.organism-soundOptionExplanation-container .atoms-Button-quiz-options {
  border: 1px solid #000000;
}
