/**** bodymap ****/
.bodymap-frame {
	/* display: block !important; */
	position: relative;
	top: 0px;
	right: 30px;
	width: 600px;
	height: 500px;
	overflow: hidden;
}

.bodymap-frame .loading-wrapper
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0 ,0, 0.3);
	background-color: rgba(0, 0 ,0, 0.0);
	text-align: center;
	vertical-align: center;
}

.bodymap-frame .loading
{
	font-size: 30px;
    position: absolute;
    display: inline-block;
    line-height: auto;
    top: 50%;
    left: 50%;
	transform: translateX(-50%) translateY(-50%);
}


.sk-fading-circle {
	margin: 100px auto;
	width: 80px;
	height: 80px;
	position: relative;
  }

.offline_loading-wrapper .sk-fading-circle{
	margin: unset;
	width: 40px;
	height: 30px;
	position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

  .sk-fading-circle .sk-circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
  }

  .sk-fading-circle .sk-circle:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #888;
	border-radius: 100%;
	-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
			transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
			transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
			transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
			transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
		-ms-transform: rotate(150deg);
			transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
			transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
		-ms-transform: rotate(210deg);
			transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
		-ms-transform: rotate(240deg);
			transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
			transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
		-ms-transform: rotate(300deg);
			transform: rotate(300deg);
  }
  .sk-fading-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
		-ms-transform: rotate(330deg);
			transform: rotate(330deg);
  }
  .sk-fading-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
			animation-delay: -1.1s;
  }
  .sk-fading-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
			animation-delay: -1s;
  }
  .sk-fading-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
  }
  .sk-fading-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
			animation-delay: -0.8s;
  }
  .sk-fading-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
			animation-delay: -0.7s;
  }
  .sk-fading-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
			animation-delay: -0.6s;
  }
  .sk-fading-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
  }
  .sk-fading-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
			animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
			animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
			animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
			animation-delay: -0.1s;
  }

  @-webkit-keyframes sk-circleFadeDelay {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; }
  }

  @keyframes sk-circleFadeDelay {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; }
  }



.bodymap-frame.type-respiratory {
    top: 130px;
    right: 80px;
	width: 500px;
	height: 500px;
}

#bodymap-pulmonary {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bodymap-front {
    position: absolute;
    /*background-image:url("../images/ui/bodymap/bodymap1_01.png");*/
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/*padding-top: 75%;*/
	background-size: 100% 110%; /* 画像の拡大表示 */
    /*background-position: -30px -30px; /* 画像の表示位置 */*/
	background-size: 100% 100%;
	/*background-position: 0px 0px;*/
	background-repeat: no-repeat;
}

.bodymap-back {
	display: none;
	/*background-image:url("../images/ui/bodymap/bodymap1_02.png");*/
	top: 0px;
	left: 0px;
	width: 512px;/*462px;*/
    height: 768px;
    width: 100%;
	height: 100%;
    /*padding-top: 75%;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.left_pulmonary {
    position: absolute;
    left: 0px;
    top: -45px;/*0;*/
    width: 600px;
    height: 400px;
    background: white;
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: 50px;
    background-size: 500px 500px;
}


.bodymap .label {
	display: none;
/*	opacity:0;*/
/*	display:table-cell;*/
	position: relative;
	background-color: #FFFFBB;
	bottom: 35px;
	width: 120px;
	height: 25px;
	left: 50%;
	margin-left: -60px;
	padding-top: 2px;

	font-size: 15px;
	text-align: center;
	vertical-align: middle;

	border-radius: 5px;        /* CSS3草案 */
	-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 5px;   /* Firefox用 */
}


.respiratorysound {
    /*opacity: 0;*/
    position: absolute;
    box-sizing: border-box;
	width: 50px;
	height: 50px;
	border: 3px dashed  #FFFF00;
    border-radius: 50%;
}

#respiratory-front-1-1 {
	left: 210px;
	top: 80px;
}

#respiratory-front-1-2 {
	left: 340px;
	top: 80px;
}

#respiratory-front-2-1 {
    left: 210px;
    top: 135px;
}

#respiratory-front-2-2 {
    left: 340px;
    top: 135px;
}


#respiratory-front-3-1 {
    left: 310px;
    top: 175px;
}

#respiratory-front-3-2 {
    left: 235px;
    top: 175px;
}

#respiratory-front-4-1 {
    left: 120px;
    top: 350px;
}

#respiratory-front-4-2 {
    right: 120px;
    top: 350px;
}



.bodymap-front #respiratorysound3-1 {
    left: 210px;
    top: 210px;
}

.bodymap-front #respiratorysound3-2 {
   left: 340px;
    top: 210px;
}

.bodymap-back #respiratorysound3-1 {

    left: 310px;
    top: 235px;
}

.bodymap-back #respiratorysound3-2 {

    left: 235px;
    top: 235px;
}

/* 心音 */

#bodymap-cardiac .bodymap-front {
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	padding-top: 75%;
	background-size: 110% 110%; /* 画像の拡大表示 */
	/*background-position: -30px -30px; /* 画像の表示位置 */*/
	background-repeat: no-repeat;
	background-attachment: scroll;
}

.cardiacsoundA,
.cardiacsoundP,
.cardiacsoundT,
.cardiacsoundM,
.heartsoundh1,
.heartsoundh2,
.heartsoundh3,
.heartsoundh4,
.cardiacsoundPA,
.cardiacsoundPP,
.cardiacsoundPT,
.cardiacsoundPM,
.lung_points,
.pulse_points
{
	/*opacity: 0;*/
    position: absolute;
    box-sizing: border-box;
	left: 145px;
	top: 385px;/*470px;*/
	width: 56px;/*35px;*/
	height: 56px;/*35px;*/
	border: 3px dashed #0000FF;
	border: 3px dashed transparent;
	border-radius: 50%;        /* CSS3草案 */
	-webkit-border-radius: 50%;    /* Safari,Google Chrome用 */
    -moz-border-radius: 50%;   /* Firefox用 */
    /*background-color: red;*/
/*
	background-image:url("../images/ui/bodymap/bodymap1_respiratorysound1-2_frame01.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
*/
}

#cardiacsoundA, .heartsoundh1, #cardiacsoundPA {
	left: 225px;/*145px;*/
	top: 185px;/*127px;*//*295px;*/
}

#cardiacsoundP, .heartsoundh2, #cardiacsoundPP {
	left: 327px;/*218px;*/
	top:188px;/*127px;*//*295px;*/
}

#cardiacsoundT, .heartsoundh3, #cardiacsoundPT {
	left: 330px;/*220px;*/
	top: 260px;/*197px;*//*365px;*/
}

#cardiacsoundM, .heartsoundh4, #cardiacsoundPM {
	left: 394px;/*263px;*/
	top: 320px;/*242px;*//*410px;*//*360px;*/
}

.extended_area
{
	display: none;
    position: relative;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    left: -15px;
    top: -15px;
    border: dashed  3px red;
    border-radius: 50%;
}




/* 腸音 */
.bowelsounds {
	opacity: 0;
	position: absolute;
	left: 130px;
	top: 380px;/*400px;*/
	width: 160px;
	height: 80px;
	border: 3px dashed #0000FF;
    border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
/*	background-image:url("../images/ui/bodymap/bodymap1_respiratorysound1-2_frame01.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
*/
}

.target_area {
	display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.6;
}

.target_area.abnormal {

    background: rgb(146, 208, 80);

}

.points.__fullscreen{
	display: none;
}
.points{
	display: flex;
    gap: 1%;
    justify-content: center;
}
