.atoms-Image {
  object-fit: fill;
}

.atoms-Image-upload {
  width: 100px;
}

.atoms-Image-search {
  width: 25px;
  cursor: pointer;
}

.organism-modal-image {
  width: 25px !important;
  height: 25px;
  cursor: pointer;
}

.organism-edit-stetho-library-container .error {
  width: 150px !important;
  height: 150px !important;
  transform: translate(-280%, 10px);
}

.atoms-Image-drag {
  width: 14px;
  height: 14px;
  margin-top: 1px;
}

.atoms-Image-selected-input{
  width: 50%;
  margin-top: 20px;
}
