.molecule-popularQuizRankingTable-wrapper {
  padding: 24px 40px;
  box-shadow: 0px 5px 10px #00000017;
  border-radius: 8px;
  opacity: 1;
}

.molecule-popularQuizRankingTable-wrapper .table thead th {
  border-top: none;
  border-bottom: 1px solid #efefef;
}

.molecule-popularQuizRankingTable-wrapper .table td {
  border-top: none;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
  font-family: normal;
}

.molecule-popularQuizRankingTable-wrapper .popularQuizLibraryTableHeader {
  background-color: #ffffff !important;
}

.molecule-popularQuizRankingTable-wrapper .table tr:nth-child(2n+1) {
  background-color: #f6f8fa;
}

.molecule-popularQuizRankingTable-wrapper thead tr th:first-child,
.molecule-popularQuizRankingTable-wrapper tbody tr td:first-child {
  width: 10%;
}

.molecule-popularQuizRankingTable-wrapper thead tr th,
.molecule-popularQuizRankingTable-wrapper tbody tr td{
  width: 15%;
}
