.organism-modal-header {
  padding: 8px 16px;
  background-color: #304156;
  color: #ffffff;
}

.organism-edit-inspection-library-container .modal-body {
  padding: 32px 32px 0px;
}

.organism-edit-inspection-library-container .file-select {
  width: 68%;
  margin-left: 15px;
}

.organism-edit-inspection-library-container audio {
  width: 70%;
  margin-left: 25%;
  padding-left: 15px;
}

.organism-edit-inspection-library-container video {
  margin-left: 25%;
  padding-left: 15px;
}

.organism-modal-image {
  width: 16px;
}

.organism-add-modal-footer {
  border-top: none;
  justify-content: flex-start;
  padding-left: 24px;
}

.organism-add-modal-button {
  width: 80px;
  font-size: 12px;
}

.organism-edit-inspection-library-container
  .molecules-inputwithlabel-wrapper
  .atoms-input {
  width: 68%;
}

.organism-edit-inspection-library-container .labelstyle {
  font-weight: bold;
}

.organism-edit-inspection-library-container
  .molecules-inputwithlabel-wrapper
  .atoms-label {
  width: 25%;
}

.inspection-library-modal-item {
  width: 27%;
}

.organism-edit-inspection-library-container .teast {
  display: flex;
  gap: 15px;
  align-items: center;
}

.organism-edit-inspection-library-container .px-no {
  width: 35px;
}

.organism-edit-inspection-library-container .select-second {
  padding-left: 240px;
}

.organism-edit-inspection-library-container .error {
  color: rgb(194, 68, 68);
  margin-left: 25%;
  padding-left: 15px;
}

.inspection-library-organism-modal-body .select-item {
  margin-left: 27%;
}

.organism-edit-inspection-library-container
  .organism-inspection-radio-container {
  padding-left: 25px;
}

.organism-edit-inspection-library-container
  .organism-inspection-group-attribute-item {
  padding-left: 0px;
}

.organism-edit-inspection-library-container
  .organism-inspection-status-wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}
