.template-AsculaideLIbrary-wrapper {
  background-color: #ffffff;
  padding: 16px 36px;
  margin: 2%;
  height: 87vh;
  display: grid;
}

.template-AsculaideLIbrary-wrapper .toast-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.ausculaide-library-bottom {
  margin: 0 auto;
  text-align: center;
}

.template-AsculaideLIbrary-wrapper td,
.template-AsculaideLIbrary-wrapper th {
  text-align: center;
  word-wrap: break-word;
  width: auto;
}

.template-AsculaideLIbrary-wrapper .table {
  min-width: 800px;
}

.template-AsculaideLIbrary-wrapper tbody {
  display: block;
  overflow-x: auto;
  overflow-y: overlay;
  padding-right: 5px;
}

.template-AsculaideLIbrary-wrapper .withPaginationTable tbody {
 height: 60vh;
}

.template-AsculaideLIbrary-wrapper thead,
.template-AsculaideLIbrary-wrapper tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.template-AsculaideLIbrary-wrapper table td {
  overflow-wrap: break-word;
}

.template-AsculaideLIbrary-wrapper td,
.template-AsculaideLIbrary-wrapper th {
  padding: 10px;
  text-align: left;
}

.template-AsculaideLIbrary-wrapper .no-data {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.template-AsculaideLIbrary-wrapper .no-data td {
  font-size: medium;
  border-top: none;
}

@media (max-width: 1280px) {
  .template-AsculaideLIbrary-wrapper tbody {
    /* padding-right: 20px; */
  }
}


@media (max-width: 876px) {
  .template-AsculaideLIbrary-wrapper tbody {
    padding: auto 0px;
    text-align: center;
  }

  .template-AsculaideLIbrary-wrapper td,
  .template-AsculaideLIbrary-wrapper th {
    font-size: 0.7rem;
  }
  .template-AsculaideLIbrary-wrapper table td {
    font-size: 0.7rem;
  }
}
